<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/404Page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>404</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<div class = "container">
		<header class ="text-center">
			<h2>404</h2>
			<p id = "bigTxt">Техногенная пустошь</p>
			<p id = "smlTxt">Здесь ничего нет</p>
		</header>
	</div>
	<hr id = "sky">
	<div id = "trail" style="width: 100%; height: 280px;">
		<div id = "sun"></div>
	</div>

	<div id = "jest-big-1" class = "jest-big"></div>
	<div animatin id = "jest-heart-big-1" class = "jest-heart-big"></div>
	<div id = "jest-sml-1" class = "jest-sml"></div>
	<div id = "jest-heart-sml-1" class = "jest-heart-sml"></div>

	<div id = "jest-big-2" class = "jest-big"></div>
	<div id = "jest-heart-big-2" class = "jest-heart-big"></div>
	<div id = "jest-sml-2" class = "jest-sml"></div>
	<div id = "jest-heart-sml-2" class = "jest-heart-sml"></div>

	<div id = "foot">
	</div>

</body>
</html>