{% block content %}
    <div class="col">
        <div class="card" style = "margin-top: 20px;">
            <div class="card-body">
                <h5 class="card-title">Клиент: {{ call.surname }} {{ call.name }} {{ call.patronymic }}</h5>
                <div class="card-text">
                    <p>Номер телефона: <a href="#">{{ call.contact_number }}</a></p>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <a href="delete-call/{{call.id}}" class="card-link">Выполнить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}