{% extends "index.html" %}
{% block title %} Результаты поиска {% endblock %}

{% block header %}
    {% block background %}search-background{% endblock %}
    {% block logo_class_styling %} justify-content-center mt-4{% endblock %}
    {% block contacts %}{% endblock %}
    {% block site_title%}{% endblock %}

    {% block content %} 
    <div class = "container">
    {% block sort %}
    <div class = "mx-auto sort">
        <a href = "?town={{town_from}}&where={{where}}&how_long={{days}}&when={{when}}&tourists={{tourists}}&sort=cheap" style = "float:right; margin-top: 7px;">От дешевых к дорогим</a>
        <a href = "?town={{town_from}}&where={{where}}&how_long={{days}}&when={{when}}&tourists={{tourists}}&sort=notcheap" style = "float:left;  margin-top: 7px;">От дорогим к дешевым</a>
    </div>
    {% endblock sort %}
    {% for hotel in search_results %}
    {% include 'hotel_search.html' %}
    {% endfor %}
    </div>
    {% endblock %}
{% endblock %}